/* 

.alink
font-family: Radio Canada, sans-serif;

.willkommen p
font-family: Nanum Cothic, sans-serif; 


*/
Nanum Cothic * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: Radio Canada;
    src: url("../fonts/Radio_Canada/RadioCanada-Italic-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: Nanum Cothic;
    src: url("../fonts/Nanum_Gothic/NanumGothic-Bold.ttf");
}





header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

h1 {
    font-family: Radio Canada, sans-serif;
    margin: 1rem 0 0 3rem;
    color: rgb(201, 132, 16);
}

nav {
    margin-right: 2rem;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

nav a {
    color: blue;
    text-decoration: none;
    /*     margin-right: 2rem; */
    /* so geht der Abstandstand zwischen allen a   - aber mit flex versuchen */
}

.kontakt {
    background-color: orange;
    color: white;
    font-size: 1.3rem;
    border-radius: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    box-shadow: 0.2rem 0.2rem 0.9rem green;
}

.kontakt:hover {
    color: rgb(73, 169, 73);
}

section {
    margin-top: 2rem;
}

.articleWillkommen {}

article {
    display: flex;
    justify-content: space-around;
}

.divWillkommen {
    background-color: blue;
    width: 20rem;
}

.divWillkommen p {
    background-color: yellow;
    text-transform: uppercase;
    color: blue;
/*     margin: 0.5rem 0;
 */
    font-family: Nanum Cothic, sans-serif;
    font-size: 0.7rem;
    padding-right: 4rem;
}


.divWillkommen h2 {
    background-color: orange;
    font-size: 1rem;
}

.divWillkommen a {
    text-decoration: none;
}

img {
    width: 20rem;
    background-color: green;
    margin: 2rem;
    box-shadow: 1rem 1rem 1rem yellow;
}





