/* 

.alink
font-family: Radio Canada, sans-serif;

.willkommen p
font-family: Nanum Cothic, sans-serif; 


*/
Nanum Cothic * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: Radio Canada;
    src: url("../fonts/Radio_Canada/RadioCanada-Italic-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: Nanum Cothic;
    src: url("../fonts/Nanum_Gothic/NanumGothic-Bold.ttf");
}





header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

h1 {
    font-family: Radio Canada, sans-serif;
    margin: 1rem 0 0 3rem;
    color: rgb(201, 132, 16);
}

header nav {
    margin-right: 2rem;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

header nav a {
    color: blue;
    text-decoration: none;
    /*     margin-right: 2rem; */
    /* so geht der Abstandstand zwischen allen a   - aber mit flex versuchen */
}

.kontakt {
    background-color: orange;
    color: white;
    font-size: 1.3rem;
    border-radius: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    box-shadow: 0.2rem 0.2rem 0.9rem green;
}

.kontakt:hover {
    color: rgb(73, 169, 73);
}

section {
    margin-top: 2rem;
}


article {
    display: flex;
    justify-content: space-around;
}

.breiteFlex {
    width: 30vw;
    padding: 2rem;
}



.divWillkommen p {
    text-transform: uppercase;
    color: blue;
    font-family: Nanum Cothic, sans-serif;
    font-size: 0.7rem;
    margin-bottom: 2rem;
}

.textWillkommen {
    margin-top: 3rem;
    margin-left: 2rem;
}

.textWillkommen:before {
    content: " → ";
    /* ? wie kann man den Pfeil länge ziehen? */

    /* *  oder das ins html ?                      <svg height="5" width="50">
      *                 <line x1="0" y1="0" x2="50" y2="0" style="stroke:rgb(41, 41, 192);stroke-width:2" /> */
}

.divWillkommen h2 {
    font-size: 3rem;
    margin: -0.2rem 0 1rem 0;
    /* ? wie kann man - margin besser machen ? */
}



.divWillkommen a {
    text-decoration: none;
    margin-top: 2rem;
}



.imgButton {
    box-shadow: 1rem 1rem 1rem yellow;

}


/* articel 2 */

.breiteFlex2 {
    width: 30vw;
    margin-top: 5rem;
}

.pÜbermich {
    font-size: 8rem;
}

.pÜbermich span1 {
    display: block;
    text-align: left;
}

.pÜbermich span2 {
    display: block;
    text-align: right;
}

.iconsLink {
    padding-top: 2rem;
}

.iconsLink p,
nav2 {
    margin-left: -4rem;
}

.aTransparent {
/*     width: 50px;
 */    color: rgba(255, 255, 255, 0);  /* Schrift transparent durchsichtig gemacht */
}

.nav2{
    margin-left: -4rem;
}

.logoicon {
    width: 50px;

    float: left;
    margin:0.3rem;


}

/* .logoKlickbar {
    display: block;
    background-color: red;
    background-image: url("../img/inkedin.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
} */

